{% load comments %}
{% load mptt_tags %}
{% load static %}
<link rel="stylesheet" href="{% static 'django_comments/css/show_comments.css' %}">
<script type="text/javascript" src="{% static 'django_comments/js/show_comments.js' %}"></script>

<div class="dc-comment_block">
<h2>Комментарии пользователей:</h2>
<hr>

{% get_comment_list for object as comments %}
{% if comments %}

    {% recursetree comments %}

        <div class="dc-comment">
{#            <a name="c{{ node.id }}"></a>#}
            <p>{{ node.comment }}</p>
            <p><b>{{ node.user_name }}</b>, {{ node.submit_date|timesince }} ago</p>
            {#    <div><a href="{{ object.get_absolute_url }}#c{{ node.id }}">#</a></div>#}
            <button type="button" class="dc-answer-button btn btn-secondary btn-sm" data-js-node_id="{{ node.id }}"
                    onclick="get_answer_form(this)">Ответить
            </button>
            {% render_comment_form for object %}

            {# recursion! children of a given comment #}

            {% if not node.is_leaf_node %}
                {{ children }}
            {% endif %}
        </div>
    {% endrecursetree %}

{% endif %}

{% render_comment_form for object %}
</div>